
pre {color:rgba(255, 255, 255, 0.904)}
pre {font-family: Sans-serif}
pre {font-size:20px}
h2{color:rgba(255, 255, 255, 0.904)}
p {color:rgba(255, 255, 255, 0.904)}
p {font-family: Sans-serif}
p {font-size:35px}
p {text-align: center}
p {margin: 2cap;}
a {color:rgba(255, 255, 255, 0.904)}
a {font-family: Sans-serif}
a {font-size:20px}
h1 {color:rgba(255, 255, 255, 0.904)}
h1 {font-family: Sans-serif}
h1 {font-size:50px}
a {color:rgba(255, 255, 255, 0.904)}
a {font-family: Sans-serif}
a {font-size:35px}
p {text-align: center}
a {margin: 2cap;}
li {font-size:35px}
li {text-align: left}
li {margin: 2cap;}
li {color:rgba(255, 255, 255, 0.904)}
li {font-family: Sans-serif}
li {font-family: Sans-serif}
a {
    text-decoration: none; /* Removes the underline */
  }
.What 
{
    text-align: left;
    backdrop-filter: blur(500px);
}
body {
    
    background-size: cover;
        width: 80%;
        min-height: 40cm;
        margin: auto;

        background-position: center;

        background-repeat: no-repeat;
        background-attachment: fixed;
        backdrop-filter: blur(10px);
        
    }

#Header
 {
    padding:25px;
    width: 100%;
    text-align: center;
    backdrop-filter: blur(10px);
}
.help
{
backdrop-filter: blur(10px);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    backdrop-filter: blur(10px);
    gap: 50px;
}
.History:hover {
    box-shadow: 12px 12px 12px rgba(189, 189, 189, 0.945) inset,
    -10px -10px 10px grey inset;
    transition: all .4s ease;
 -webkit-transition: all .4s ease;
    font-size: 30px;
    backdrop-filter: blur(10px);
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  border-radius: 10px;
  display: block;
}
 .History a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }
  .History a
  {
    height: 200px;
  }
  .Learn:hover
  {
    box-shadow: 12px 12px 12px rgba(189, 189, 189, 0.945) inset,
    -10px -10px 10px grey inset;
    transition: all .4s ease;
 -webkit-transition: all .4s ease;
    font-size: 30px;
    backdrop-filter: blur(10px);
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  border-radius: 10px;
  display: block;
  
  }
  .Learn a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }
  .Learn a
  {
    height: 200px;
  }
  .Members:hover
  {
    box-shadow: 12px 12px 12px rgba(189, 189, 189, 0.945) inset,
    -10px -10px 10px grey inset;
    transition: all .4s ease;
 -webkit-transition: all .4s ease;
    font-size: 30px;
    backdrop-filter: blur(10px);
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  border-radius: 10px;
  display: block;
  
  }
  .Members a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }
  .Members a
  {
    height: 200px;
  }
